body{
  background-color: #d4b8eb;
  opacity: 1;
  background: linear-gradient(135deg, #ad5bc955 25%, transparent 25%) -19px 0/ 38px 38px, linear-gradient(225deg, #ad5bc9 25%, transparent 25%) -19px 0/ 38px 38px, linear-gradient(315deg, #ad5bc955 25%, transparent 25%) 0px 0/ 38px 38px, linear-gradient(45deg, #ad5bc9 25%, #d4b8eb 25%) 0px 0/ 38px 38px;
}
/* ACORDEON */
.acordion{
  background-color: #f2f2f2;
  width: 100%;
  padding: 1.5em;
  margin: 10px auto;
  max-width: 900px;
  box-shadow: 0 0 10px -3px rgba(0,0,0,0.5);
  border-radius: 6px;
  border-left: 4px solid #562999;
}
.acordion:hover{
  background-color: #fff;
}
.acordion:has(:checked){
  --rows: 1fr;
  border-color: #d439f3;
  background-color: white;
}
.acordion-link:has(:checked){
  color: #d439f3;
}

.acordion-link{
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  color: #562999;
  text-decoration: none;
}

.acordion-item{
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: .3s grid-template-rows;
}
.acordion-item a{
  text-decoration: none;
  padding: 6px;
  border: 2px solid #d439f3;
  border-radius: 10px;
  color: #d439f3;
  transition: 300ms ease;
}
.acordion-item a:hover{
  background-color: #d439f3;
  color: white;
}

p{
  overflow: hidden;
  line-height: 1.5;
  color: #6a6a6a;
}


input{
  display: none;
}
h2{
  text-align: center;
  color: #ffffff;
}

/* NAVEGADOR */
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Century Gothic;
}

nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #d485ff;
  color: white;
}
nav li:first-child{
  margin-right: auto;
}

.lateral{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(222, 222, 222, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.lateral li{
  width: 100%;
}
.lateral a{
  width: 100%;
}

.menuboton{
  display: none;
}

/* BOTON */

@media(max-width: 800px){
  .escondeEnMovil{
    display: none;
  }
  .menuboton{
    display: block;
  }
  .acordion{
    max-width: 350px;
  }
  .contenedor-acordeon{
    width: 90%;
  }
}
@media(max-width: 400px){
  .lateral{
    width: 100%;
  }
}